DB_HOST=localhost
DB_PORT=1521
DB_SID=ORCL
DB_USER=airport
DB_PASSWORD=password

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

INCHEON_API_KEY=your_incheon_api_key
KAC_API_KEY=your_kac_api_key
KMA_API_KEY=your_kma_api_key

FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_CLIENT_EMAIL=your_firebase_client_email
FIREBASE_PRIVATE_KEY=your_firebase_private_key

SLACK_WEBHOOK_URL=https://hooks.slack.com/services/your/webhook/url
BATCH_CONCURRENCY=5
